.archive-list-page {
  display: flex;
  justify-content: center;

  .post-archive {
    margin-bottom: 2rem;
  }

  .img-container {
    display: flex;
    justify-content: flex-end;

    img {
      width: 50px;
    }
  }

  li {
    align-self: center;
  }
}

.list-header,
.archive-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 20px;
  column-gap: 20px;
}

.list-header {
  margin-bottom: 2rem;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 1.1rem;
}
