$header-height: 20vh;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  //respects \n as new lines
}

@font-face {
  font-family: "GaramondPro";
  src: url("./font/AGaramondPro-Regular.otf");
}

h2 {
  text-align: center;
  margin: 1rem 0;
}

h3 {
  margin-top: 1.5rem;
}

.nav-link {
  padding: 0 2vw;
}

.not-stream-component {
  margin-top: $header-height; //-80vh;
  background-image: linear-gradient( rgb(0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25));
}

.noise {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

///////////////////////////////////
//         Main Page
///////////////////////////////////
.stream-page {

  position: relative;
}

footer {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));  
}

///////////////////////////////////
//          Input Forms
///////////////////////////////////
.input-form {
  display: flex;
  flex-flow: column;
  align-items: center;

  .grid-container {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
    width: 600px;

    label {
      input {
        width: 100%;
        height: 2rem;
      }
    }

    .describe {
      grid-column-start: 1;
      grid-column-end: 3;

      textarea {
        width: 100%;
        min-height: 5rem;
      }
    }

  }

  .submit-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
    height: 2rem;

    input {
      height: 100%;
      padding: 0 5px;
      font-size: 1rem;
    }
  }

  .required {
    color: red;
  }
}

/////////////
// Button
/////////////
.button-container {
  display: flex;
  height: 2rem;
}

button {
  height: 100%;
  padding: 0 5px;
  font-size: 1rem;
}

///////////////////////////////////
//          Archive Page
///////////////////////////////////
.archive-controls {
  justify-content: space-between;
  margin: 1rem 0;
}

.archive-list-page {
  display: flex;
  justify-content: center;

  .img-container {
    display: flex;
    justify-content: flex-end;

    img {
      width: 50px;
    }
  }

  li {
    align-self: center;
  }

}

.check-delete {
  width: 20px;
  height: 20px;
}

.archive-details-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: auto;

  .archive-details {
    display: flex;
    justify-content: center;

    .list-right {
      text-align: right;
      margin-left: 2rem;
    }
  }

}

.list-header,
.archive-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 20px;
  column-gap: 20px;
}

.list-header {
  margin-bottom: 2rem;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 1.1rem;
}


a {
  margin: 1rem 0;
}

q {
  max-width: 300px;
  text-align: center;
  margin: 16px 0;
}

///////////////////////////////////
//          Blog Page
///////////////////////////////////

.blog-page {
  display: flex;
  justify-content: center;
  white-space: pre-wrap;

  .blog-content {
    max-width: 600px;

    text-align: left;
  }

  .blog-list {
    margin: 4rem 0;

    h2 {
      margin: 0;
      text-align: left;
    }

    .article-header {
      margin: 2rem 0;
      display: flex;
      justify-content: space-between;
    }
  }



}

///////////////////////////////////
//          Schedule Page
///////////////////////////////////
.schedule-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .was-live {
    opacity: .2;
  }

  .is-live {
    color: red;
  }

  .check-delete {
    margin-left: 1rem;
  }

  .edit-grid-container {
    grid-template-columns: 1fr;
    width: 200px;
  }

  .monthly-schedule {
    display: flex;

    .weekly-schedule {
      margin: 0 2rem;

      .day-dates {
        text-align: left;

        .day-head {
          display: flex;
          justify-content: space-between;
          margin: 3rem 0 1rem;
          font-size: 1.5rem;
          text-transform: lowercase;

          div:nth-child(1) {
            margin-right: 1rem;

          }

          div:nth-child(2) {
            font-size: .8rem;
            letter-spacing: 2px;
          }
        }

        .day-details {
          margin: 0.25rem 0;
          display: flex;
          justify-content: space-between;
          align-items: left;

          li:nth-child(1) {
            max-width: 150px;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
///////////////////////////////////
//        Staff Only Page
///////////////////////////////////

.staff-only {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: 100%;
    padding: .5rem;
    margin: .5rem 0;
  }
  div {
    max-width: 600px;
  }
  
}
//---------------------------------------------//
//            From the base react              //
//---------------------------------------------//
body {
  font-family: "GaramondPro",
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder {
  font-family: "GaramondPro", serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #000;
  display: flex;
  font-size: calc(10px + 2vmin);
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
}

.full-header {
  flex-direction: column;

  .embeded-video {
    width: 100%;
    height: 88vh;
  }
}

.message-controls-container {
  height: 6vh;
  margin: 0 1.8rem;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
}

/*animated stream description*/

.message span {
  display: inline-block;
  font-weight: bold;
  white-space: nowrap;
}

.moving-text {
  animation: moveText linear 10s backwards infinite;
}

@keyframes moveText {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-80%);
  }
}



.small-header {
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr / repeat(12, 1fr);

  nav {
    grid-column: 3 / 11;
    grid-row: 1 / 2;
    height: 100%;
  }

  .message-controls-container {
    grid-column: 3 / 11;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .embeded-video {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
}

.controls {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.playPauseBtn {
  border: 0;
  background: transparent;
  height: 18px;
  border-color: transparent transparent transparent #fff;
  transition: 100ms all ease;
  cursor: pointer;

  /* play state */
  border-style: solid;
  border-width: 9px 0 9px 18px;

  &.paused {
    border-style: double;
    border-width: 0px 0 0px 18px;
  }

  &:hover {
    border-color: transparent transparent transparent #707070;
  }
}

.audioIcon {
  margin-left: 1rem;
  cursor: pointer;
}

.volumeControl {
  /* overwrite default look */
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;

  margin-left: 1rem;
  height: 4px;
  border-radius: 5px;
  width: 100px;

  &::-webkit-volumeControl-thumb {
    width: 9px;
    height: 9px;
    background: #fff;
    border: 5px solid #313131;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 9px;
    height: 9px;
    background: #fff;
    border: 5px solid #313131;
    border-radius: 50%;
    cursor: pointer;
  }
}

// Contact
.Contact {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0 auto;

    label,
    button {
      margin-top: 1rem;
    }

    input {
      display: block;
    }
  }
}

// Hosts-carousel
.embla {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
}

.embla__viewport {
  overflow: hidden;
  border-radius: 0.5rem;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  will-change: transform;
}

.embla__slide {
  flex: 0 0 auto;
  width: 100%;
  position: sticky;
  counter-increment: embla;
  overflow: hidden;
  min-height: 100px;
  padding-bottom: 46%;
}

.embla__slide__image {
  background: center center/cover no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.embla__button {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.embla__button:not(:disabled) {
  cursor: pointer;
  fill: #000000;
}

.embla__button:disabled {
  fill: #e9e9e9;
}

.embla__button__svg {
  width: 3.5rem;
  height: 3.5rem;
}

.embla__button--prev {
  left: 0.7rem;
}

.embla__button--next {
  right: 0.7rem;
}

.embla__dots {
  position: absolute;
  margin-top: 1rem;
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  left: 0;
  right: 0;
  top: 100%;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 3rem;
  height: 3rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border: 0;
  display: flex;
  align-items: center;
}

.embla__dot:after {
  background-color: #efefef;
  width: 100%;
  height: 0.4rem;
  content: "";
}

.embla__dot.is-selected:after {
  background-color: #000000;
  opacity: 1;
}
