* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  margin: 3rem 0;
}
h2 {
  text-align: center;
  margin: 1rem 0;
}
h3 {
  margin-top: 1.5rem;
}
.nav-link {
  padding: 0 2vw;
}

///////////////////////////////////
//         Landing Page
///////////////////////////////////
.landing-page {
  display: flex;
  justify-content: center;
  ul {
    margin-left: 2rem;
  }
}



///////////////////////////////////
//          Input Form
///////////////////////////////////
.input-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  width: 800px;

    label {
      input {
        width: 100%;
        height: 2rem;
      }
      
    }
  
  }
  .submit-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
    height: 2rem;
    input {
      height: 100%;
      padding: 0 5px;
      font-size: 1rem;
    }
  } 

  .required {
      color: red;
    }
}
///////////////////////////////////
//          Music List
///////////////////////////////////
.archive-menu {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}


.archive-list-page {
  display: flex;
  justify-content: center;
}


.archive-details-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: auto;
  .archive-details {
  display: flex;
  justify-content: center;
    .list-right {
      text-align: right;
      margin-left: 2rem;
    }
  } 
  
}
.list-header, .archive-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 20px;
  column-gap: 20px;
}
li {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 1.1rem;
}
.check-delete {
  width: 20px;
  height: 20px;
}
.delete-btn {
  display: flex;
  justify-content: flex-end;
  height: 2rem;
  button {
    height: 100%;
    padding: 0 5px;
    font-size: 1rem;
  }
}
a {
  margin: 1rem 0;
}
img {
  width: 300px;
}
//---------------------------------------------//
//            From the base react              //
//---------------------------------------------//
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

