///////////////////////////////////
//         All User Page
///////////////////////////////////
.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;


  .list-container {
  width: fit-content;
  }
 
  .list-header, .user-data {
    // max-width: 800px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    
  }
  .user-data {
    margin: .5rem 0 ;
  }
}
