///////////////////////////////////
//          Staff Only 
///////////////////////////////////
.staff-only {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
  }

  div {
    max-width: 600px;
  }
}
