///////////////////////////////////
//         All User Page
///////////////////////////////////
.all-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  

  .list-container {
  width: fit-content;
  }
 
  .list-header, .all-data {
    // max-width: 800px;
    text-align: left;
    display: grid;
    
    gap: 1rem;
  }
  .user-list-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      .button-container {
      margin: 0;
    }
  }

  .host-list-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }


  .all-data {
    margin: .5rem 0 ;
  }
}
