// Layout
.chat {
  .chat-button {
    margin: 0 .5rem;
    padding: 0 5px;
    height: 100%;
    white-space: nowrap;
  }
  
  input, select, textarea {
    // margin-top: .25rem;
    // background-color: $etikett-black-050;
    background-color: rgba(255, 255, 255, 0.10);
    width: 100%;
    height: 2rem;
    padding-left: .5rem;
    border: 0px solid;
    border-bottom: 1px solid rgb(255, 255, 255);;
    border-radius: 3px;
    
    &:focus {
      background-color: $etikett-black;
      outline: none;
      border: 1px solid; 
    }
    option {
      color: black;
      font-size: 1rem;
    }

  }
}


.ChatApp {
  width: $chat-width;
  

  h3 {
    padding: 0.5rem;
    width: 100%;
    color: #FFF;
    font-size: 1.3rem;
    color: $etikett-hover;
    letter-spacing: 2px;
    text-decoration-line: underline ;
    text-decoration-color: rgba(255, 255, 255, 0.2);
  }
  p {
    font-size: 1.1rem;
  }
}
.outer-container {
  display: flex;
  justify-content: center;
  height: 100%;
}
.inner-container {
  
  width: 100%;  
  display: flex;
  flex-direction: column;
  transition: .2s;
  
  
  &:hover {
    background-color: $etikett-black-075;
    box-shadow: inset .5px 0px 0px 0px rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    transition: 0ms;
  }

}

.chat-app-chat {
  transition: $chat-height-transition;

  .InfoBar {
    height: 40px;
  }

  .Messages,
  .chat-form {
    animation: display-on 400ms ease forwards;

    
  }
}

.chat-app-minimize {
  height: 50px;
  transition: $chat-height-transition;

  .InfoBar {
    height: 40px;
  }
  .Messages,
  .chat-form {
    animation: display-off 400ms ease forwards;
  }
  .Input {
    animation: display-off 100ms ease forwards 300ms;
  }
}
.chat-app-join {
  height: 70px;
}

// Join
.Join {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  background-color: $etikett-black;
  // height: 100%;
  .join-form {
    height: 100%;
    min-height: 36px;
    width: 100%;
    input {
      width: 100%;
      padding-left: 5px;
    }
    .button-container {
      margin: 0;
    }
  }
}

// InfoBar
.InfoBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  z-index: 2;
  h3 {
    cursor: pointer;
    margin: 0;
  }
  .button-container {
    width: auto;
  }
  .info-inner-container img {
    width: 16px;
    margin: 0 0.4rem;
    cursor: pointer;
  }
  .info-inner-container p {
    margin-right: 1rem;
  }
}

// Messages
.Messages {
  padding-left: 1px;
  margin-right: .5rem;
  display: flex;
  flex-direction: column-reverse; 
  transition: .25s;
  
}

// Needed to display messages upside-down
.Messages div:first-child { 
  height: auto; 
  scrollbar-base-color: red;
}

// Input 
.Input {
  .button-container {
    margin: 0;
  }
}

// Chat Form
.chat-form {
  align-self: flex-end;
  padding-left: 1px;
  button {
    padding: 0 0.5rem;
  }

  #input-message-textarea {
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    overflow-x: hidden;
    resize: none;
    width: 80%;
    height: 32px;
    max-height: 88px;
    align-self: flex-end;
  }
  .chat-send {
    // margin-top: 4px;
    height: 32px;
    width: 20%;
  }
}
// max-height for Firefox
@-moz-document url-prefix() {
  #input-message-textarea {
    max-height: 70px;
  }
}

// Message
.justify-right {
  text-align: right;
  margin-right: 0.5rem;
  p {
    text-align: left;
  }
}
.justify-left {
  display: flex;
  text-align: left;
}
.message-box {
  display: inline-block;
  max-width: 265px;
  padding: 0.1rem 0.4rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}
.bg-white {
  background: $etikett-hover;
  border-radius: 8px 8px 0 8px;
  p { color: $etikett-black }
}
.bg-black {
  background: $etikett-black-025;
  border-radius: 8px 8px 8px 0;
  p { color: rgba(255, 255, 255) }
}
.message-text {
  overflow-wrap: break-word;
}
.sent-text {
  margin: 0 0.4rem;
  color: $etikett-hover;
}
  
// Animation
@keyframes display-off {
  0% { opacity: 1; }
  100% { 
    opacity: 0; 
    z-index: -1; }
}
@keyframes display-on {
  0% { opacity: 0; }
  50% {opacity: 0;}
  100% { opacity: 1; }
}
