///////////////////////////////////
//        Create User Page
///////////////////////////////////
.create-user-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-form {
    max-width: 600px;
  }
}
