@font-face {
  font-family: "GaramondPro", serif;
  src: url("../font/AGaramondPro-Regular.otf")
}

* {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  box-sizing: border-box;
  color: white;
  background-color: $etikett-black-000;
  letter-spacing: .5px;
  font-family: $etikett-font;

  &:focus {
    border-width: 2px;
    border-color: white;
    border-radius: 3px;
  }

  ::placeholder {
    color: rgba(255, 255, 255, 0.541);
  }
}

*::selection {
  background-color: #ffffff;
  color: $etikett-black;
}

///////////////////////////////////
//         Typography
///////////////////////////////////
.App {
  text-align: center;
}



h2 {
  text-align: center;
  margin: 1rem 0;
  font-weight: normal;
  letter-spacing: 3px;
}

h3 {
  margin-top: 1.5rem;
  font-weight: normal;
  letter-spacing: 3px;
}

///////////////////////////////////
//        Overall Layout
///////////////////////////////////
a {
  margin: 1rem 0;
}

i {
  font-size: 2rem;
}

q {
  max-width: 300px;
  text-align: center;
  margin: 16px 0;
  white-space: pre-wrap;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 1.1rem;
}

///////////////////////////////////
//         Main Page
///////////////////////////////////
.big-gap {
  margin-top: $header-height-big;
  background-image: linear-gradient($etikett-black, $etikett-black-050, $etikett-black-025);
}

.small-gap {
  margin-top: $header-height-small;
  background-image: linear-gradient($etikett-black, $etikett-black-050, $etikett-black-025);
}

.noise {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: -1;
}

.solar-system {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.1);
  border-radius: 45vw;
  display: flex;
  justify-content: center;
  align-self: center;
  opacity: 0.8;
}

//clickable logo
.etikett-black {
  position: fixed;
  left: 0; 
  right: 0;
  top: 0; 
  bottom: 0;
  margin: auto; 
  
  cursor: pointer;
  background: url(../img/etikett-black.jpg);
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: center;
  border-radius: 360px;
  width: 9.5%;
  height: 19%;
  align-self: center;
  box-shadow: 0 0 55px rgba(255, 255, 255, 1);

  &:hover {
    opacity: 0;
    transition: 0.4s ease-in-out;
  }
}

.stream-page {
  position: relative;
}

footer {
  height: 100vh;
  display: flex;
  align-items: flex-end;



  .footer-img {
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-image: url("../img/footer-img-1920x600.png");
    background-position: bottom;
    background-repeat: no-repeat,
  }


}

.gradient {
  background-image: linear-gradient($etikett-black-025, $etikett-black-000);
}

////skip link aria///
.skip-link {
  z-index: 9999;
  transform: translateY(calc(-100% - 1rem));
  display: block;
  position: absolute;
  left: 1.5rem;
  top: -1rem;
  height: 50px;
  width: 100px;
}

.skip-link:focus {
  transform: translateY(0);
  transition: all 300ms ease-in-out;
}

///////////////////////////////////
//           Loading
///////////////////////////////////
.loading {
  display: flex;
  justify-self: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fade-in 350ms ease forwards;

  img {
    width: 150px;
    height: 150px;
    animation: beat 3s ease-in-out 2s infinite;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes beat {
  0% {
    width: 150px;
    height: 150px;
  }

  50% {
    width: 170px;
    height: 170px;
  }

  100% {
    width: 150px;
    height: 150px;
  }
}


//---------------------------------------------//
//            From the base react              //
//---------------------------------------------//
body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}