///////////////////////////////////
//          Header
///////////////////////////////////
.App-header {
  background-color: $etikett-black;
  display: flex;
  font-size: 1.5rem;
  position: relative;
  z-index: 3;
  box-shadow: 0px 0px 15px 15px $etikett-black;
}

nav {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  height: $nav-height;
}

.nav-link {
  padding: 0 2vw;
  transition: 0.1s;
  letter-spacing: 2px;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  transition: 0.1s;

  &:hover {
    color: $etikett-hover;
    text-decoration-color: $etikett-hover;
    transition: 0.1s;
  }

}

.active-nav {
  color: $etikett-hover;
  text-decoration-color: white;
}

.full-header {
  flex-direction: column;

  nav {
    height: $full-header-nav-height;
  }

  .embeded-video {
    width: 100%;
    height: $embeded-video-height;
  }

  .message-controls-container {
    height: $full-header-message-height;
  }
}

.small-header-without-video {
  position: fixed;
  top: 0;

  height: $header-height-small;
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr / 15% repeat(10, 1fr) 15%;

  nav {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    height: 100%;
    justify-content: center;
  }

  .message-controls-container {
    grid-column: 1 / 11;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
  }

  .chat {
    grid-row: 2 / 4;
    grid-column: -1 / -3;
    justify-self: end;
    margin-top: 2px;

    .Join {
      margin: 0;
    }
  }
}

.small-header-with-video {
  @extend .small-header-without-video;
  height: $header-height-big;

  nav {
    grid-column: 2 / 13;
    height: 100%;
    justify-content: start;
  }

  .embeded-video {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 2;
  }

  .message-controls-container {
    grid-column: 3 / 11;
    margin: 0;
  }
}

///////////////////////////////////
//           Chat
///////////////////////////////////
.chat {
  background-color: $etikett-black-000;
}

.chat-homescreen-without-video {
  position: absolute;
  top: $nav-height;
  right: 0;
  z-index: 3;

  // Chat window height
  .InfoBar {
    height: 40px
  }

  .Input {
    height: 36px
  }

  .Messages {
    height: calc(100% - 36px - 40px)
  }

  .chat-form {
    background-color: $etikett-black-000;
    height: 100%;
    display: flex;
    align-items: center;
    
  }
}

.chat-homescreen-with-video {
  @extend .chat-homescreen-without-video;
  position: fixed;
  top: $full-header-nav-height;
  z-index: 3;

  .chat-app-chat {
    height: calc(100vh - 47px - 47px - 25px);
    // calc(full-screen - $full-header-nav-height - $full-header-message-height - space to see twitch controllers)
  }
  .outer-container {
    padding-top: 1rem;
  }
}

.chat-routes-without-video {
  // position: fixed;
  // top: calc(20vh - 40px); // (header-height - top-chat-bar-height)
  right: 0;
  z-index: 2;

  .chat-app-chat {
    height: 80vh;
  }

  // Chat window height
  .InfoBar {
    height: 6vh
  }

  // .Input { height: 40px }
  .Messages {
    height: 100%;
  }

  .button-container {
    margin: 0;
  }

  // calc(100% - InfoBar - bottom-space)
}

.chat-routes-with-video {
  @extend .chat-routes-without-video;

  .chat-app-chat {
    height: 80vh;
  }

  .Messages {
    height: 100%;
  }
}

///////////////////////////////////
//          Controls
///////////////////////////////////
.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $chat-width;
  height: 100%;
  padding: 0 1rem;
  background: $etikett-black;
  z-index: 2;
}

.playPauseBtn {
  border: 0;
  height: 18px;
  border-color: $etikett-black-000 $etikett-black-000 $etikett-black-000 #fff;
  transition: 100ms all ease;
  cursor: pointer;

  /* play state */
  border-style: solid;
  border-width: 9px 0 9px 18px;

  &.paused {
    border-style: double;
    border-width: 0px 0 0px 18px;
  }

  &:hover {
    border-color: transparent transparent transparent #707070;
  }
}

.audio-icon {
  width: 18px;
  margin-left: 1rem;
  cursor: pointer;
}

.volumeControl {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;

  margin-left: 1rem;
  height: 4px;
  border-radius: 5px;
  width: 100px;

  &::-webkit-volumeControl-thumb {
    width: 9px;
    height: 9px;
    background: #fff;
    border: 5px solid #313131;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 9px;
    height: 9px;
    background: #fff;
    border: 5px solid #313131;
    border-radius: 50%;
    cursor: pointer;
  }
}

///////////////////////////////////
//          Message
///////////////////////////////////
.message-controls-container {
  height: 40px;
  margin: 0 1.8rem;
  display: flex;
  align-items: center;
  margin: 0; //or margin 0 and then it goes until the end
  overflow: hidden;
}

/*animated stream description*/
//needs adjustment for mobile version

.message {
  font-size: 1.3rem;
  display: flex;
  overflow: hidden;
  width: 100%;

  .moving-text {
    white-space: nowrap;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 15s;

    &:hover {
      animation-play-state: paused;
    }

  }
}

@keyframes ticker {
  0% {
    transform: translate3d(150%, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

///////////////////////////////////
//        Source Button
///////////////////////////////////
.change-source-btn {
  position: fixed;
  bottom: 50%;
  width: 50px;
  height: 50px;
  background: black;
  color: white;
  border-radius: 50px;
  transition: width 300ms ease;
  display: flex;
  align-items: center;

  span {
    display: none;
    opacity: 0;
  }

  img {
    margin: 0 0.4rem;
  }

  &:hover {
    width: 100px;
    span {
      display: block;
      animation: show-up 300ms ease 250ms forwards;
    }
  }
}

@-moz-document url-prefix() {
  .change-source-btn {
    transition: none;

    &:hover {
      width: 50px;
      span {
        display: none;
        animation: none;
      }
    }
  }
}

@keyframes show-up {
  from { opacity: 0; }
  to { opacity: 1; }
}