.carousel {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(190, 190, 195, 0.219);
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12),

}

.carousel:hover {
    box-shadow: 0 14px 28px rgba(139, 139, 139, 0.25),
        0 10px 10px rgba(156, 156, 156, 0.22);
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
}

.carousel-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.host-description {
    display: grid;
    grid-template-rows: 15% 65% 10% 10%;
    text-align: justify;

    h3 {
        padding: 0 0 0 0.5rem;
    }

    .about-host {
        padding: 0 0.5rem 0 0.5rem;
        line-height: 1.3;
    }


    .social-media-container {
        display: flex;
        justify-content: flex-end;
        padding: 1rem 0.5rem 0 0;
    }

    .host-pagelink {
        display: flex;
        justify-content: flex-end;
        padding-right: 0.5rem;
    }
}


.carousel-open:checked+.carousel-item {
    position: static;
}

.carousel-indicators {
    position: absolute;
    bottom: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;

    .carousel-hostname {
        text-transform: lowercase;
        cursor: pointer;

        &:hover {
            color: $etikett-hover;
        }
    }
}