img {
    width: 500px;
}

.host-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel {
    width: 800px;

}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;

}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;

}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;

}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 400px;

}
.control-container {
    display: flex;
    position: absolute;
    top: 50%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    // display: none;
    font-size: 60px;
    height: 60px;
    line-height: 40px;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 60px;
    z-index: 10;
}

// .carousel-control.prev {
//     left: 2%;
// }

// .carousel-control.next {
//     right: 2%;
// }

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

// #carousel-1:checked~.control-1,
// #carousel-2:checked~.control-2,
// #carousel-3:checked~.control-3 {
//     display: block;
// }

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1rem;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

// #carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
// #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
// #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
//     color: #000000;
// }