.host-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .host-content {
        width: 1200px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-left: -300px;
        &:hover {
            box-shadow: 0 14px 28px rgba(139, 139, 139, 0.25),
            0 10px 10px rgba(156, 156, 156, 0.22);
            transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
        }
    }
    
}

a {
    :hover {
        color: $etikett-hover;
        transition: 0.1s;
    }
}

.host-card {
    // margin: 0 auto;
    border-right: 1px solid rgba(190, 190, 195, 0.219);
    box-shadow: 0 -1px 20px rgba(255, 255, 255, 0.12);
    width: 900px;
}


.carousel-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.host-description {
    display: grid;
    grid-template-rows: 15% 65% 10% 10%;
    text-align: justify;


    h3 {
        padding: 0 0 0 0.5rem;
    }

    .about-host {
        padding: 0 0.5rem;
    }


    .social-media-container {
        display: flex;
        justify-content: flex-end;
        padding: 1rem 0.5rem 0 0;
        i {
            margin-left: .5rem;
        }
    }

    .host-pagelink {
        display: flex;
        justify-content: flex-end;
        padding-right: 0.5rem;
    }
}




.side-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-left: 1px solid rgba(190, 190, 195, 0.219);
    // box-shadow: 0 -1px 20px rgba(255, 255, 255, 0.12);
    padding-left: 2px;

    background-image: linear-gradient(to right, $etikett-black, $etikett-black-000, $etikett-black-000);

    text-decoration-line: underline;
    text-align: left;
    .side-list-item {
        margin: 0.5rem 0 ;
        .side-list-name {
            
            text-transform: lowercase;
            cursor: pointer;
            letter-spacing: 3px;
            transition: 0.1s;
            &.active {
                color: $etikett-hover;
                
            }
            &:hover {
                color: $etikett-hover;
                text-decoration-line: underline;
                text-decoration-color: $etikett-hover;
            }
        }
    }
}