.host-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .host-card {
        width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        &:hover {
            box-shadow: 0 14px 28px rgba(139, 139, 139, 0.25),
                0 10px 10px rgba(156, 156, 156, 0.22);
            transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
        }

        .host-image-detail {
            max-width: 500px;
            max-height: 500px;
        }

        .host-description {
            display: grid;
            grid-template-rows: 10% 70% 10% 10%;
            text-align: left;
            padding: 1rem;

            .social-media-container {
                display: flex;
                justify-content: flex-end;
                padding-top: 1rem;

                i {
                    margin-left: .5rem;
                }
            }

            .host-pagelink {
                display: flex;
                justify-content: flex-end;
            }

            a {
                :hover {
                    color: $etikett-hover;
                    transition: 0.1s;
                }
            }
        }
    }

}


.grid-wrapper {
    width: 1000px;
    margin: 0 auto;

    .hosts-list {
        padding-top: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 0.5rem;

        .host-image-borders {
            border: 1px solid rgba(255, 255, 255, 0.486);
            background-color: $etikett-black;
            height: 300px;

            .host-images {
                position: relative;
                opacity: 0;
                z-index: 2;

                &:hover {
                    border: 1px solid rgb(255, 255, 255);
                    opacity: 1;
                    transition: 0.3s ease-in;
                }
            }
        }

        .host-name {
            position: relative;
            bottom: 50%;
            text-transform: lowercase;
            opacity: 1;
            z-index: 1;
        }

    }

}