//Main Styling comes from _InputForms.scss

.edit-host-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    .input-form {
      max-width: 600px;

        .grid-container {
                margin-bottom: 2rem;
            }


    }
}