
///////////////////////////////////
//          Input Forms
///////////////////////////////////
.input-form {
    display: flex;
    flex-flow: column;
    align-items: center;
  
    .grid-container {
      display: grid;
      text-align: left;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
      row-gap: 1rem;
      width: 600px;
  
      label {
  
        input,
        select, textarea {
          margin-top: .25rem;
          // background-color: $etikett-black-050;
          background-color: rgba(255, 255, 255, 0.10);
          width: 100%;
          height: 2rem;
          padding-left: .5rem;
          border: 0px solid;
          border-bottom: 1px solid rgb(255, 255, 255);;
          border-radius: 3px;
          
          &:focus {
            background-color: $etikett-black-750;
          }
          option {
            color: black;
            font-size: 1rem;
          }
  
        }
  
        textarea {
          padding: .5rem;
  
        }
      }
  
      .describe {
        grid-column-start: 1;
        grid-column-end: 3;
  
        textarea {
          width: 100%;
          min-height: 5rem;
        }
      }
  
    }
  
    .submit-button {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: flex-end;
      margin-top: 1rem;
      height: 2rem;
      width: 100%;
  
      input {
        height: 100%;
        padding: 0 5px;
        font-size: 1rem;
      }
    }
  
    .required {
      color: red;
    }
  }
  
  ///////////////////////////////////
  //           Buttons
  ///////////////////////////////////
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    margin: 2rem 0;
  }
  
  button {
    height: 100%;
    padding: 0 5px;
    font-size: 1rem;
    letter-spacing: 1px;

    
    ///////
    //Hardcoding styling from chrome to make it look the same everywhere
    ///////
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    border-width: 2px;
    border-style: outset;
    border-color: (rgb(195, 195, 195),rgb(118, 118, 118)  );
    border-image: initial;
    &:active {
      border-style: inset;
    }

    ///////
    
  }
  
  .check-delete {
    width: 20px;
    height: 20px;
    background-color: #010508;
  }
  
  .controls {
    justify-content: space-between;
    margin: 1rem 0;
  }
  