@media only screen and (min-width: breakpoints(big-desktop)) {
  .Join {
    position: relative;
    top: -48px
  }
}

@media only screen and (max-width: breakpoints(phone)) {

  // Chat
  .chat {
    display: none;
  }

  // Schedule
  .weekly-schedule:not(.this) {
      display: none;
    }

  // Archive
  .all-list {
    .archive-list-grid {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }  
    .sort-by-box {
      flex-flow: row wrap;
      justify-content: center;
      width: 200px;
      margin: 0 auto;
    }
    .archive-card {
      img {
        width: 150px;
      }
    } 
  } 
  .archive-add-delete-buttons {
    margin: 0.5rem;
    justify-content: space-between;
  }

  // Blog
  .blog-content {
    width: 90%;
    margin: 0 auto;
  }
  .blog-date {
    font-size: 0.8rem;
  }
  .blog-text {
    font-size: 1rem;
  }

  // Forms
  .input-form {
    
    .grid-container {
      display: flex;
      flex-direction: column;
    }
    .grid-container,
    .submit-button {
      width: 90%;
      margin: 1rem auto;
    }
  }
  
}