@media only screen and (min-width: breakpoints(big-desktop)) {
  .Join {
    position: relative;
    top: -48px
  }
}

@media only screen and (max-width: breakpoints(phone)) {
  .weekly-schedule:not(.this) {
      display: none;
    }
}