$header-height: 20vh;
$nav-height: 6vh;
$embeded-video-height: 88vh;
//colors
$etikett-black: rgb(1,5,8);
$etikett-black-050: rgba(1,5,8, 0.5);
$etikett-black-025: rgba(1,5,8, 0.25);
$etikett-black-000: rgba(1,5,8, 0);
