// Layout
.ChatApp * {
  color: #fff;
  margin: 0;
  padding: 0;
}
.ChatApp {
  width: 340px;
  transition: height 400ms ease-in;

  h3 {
    padding: 0.5rem;
    margin-right: 2.5rem;
    color: #FFF;
  }
}
.outer-container {
  display: flex;
  justify-content: center;
  height: 100%;
}
.inner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat-app-chat {
  height: 88vh;

  .Messages,
  .chat-form {
    animation: display-on 400ms ease forwards;
  }
}
.chat-app-minimize {
  height: 50px;

  .InfoBar {
    height: 40px;
  }
  .Messages,
  .chat-form {
    animation: display-off 400ms ease forwards;
  }
  .Input {
    animation: display-off 100ms ease forwards 300ms;
  }
}
.chat-app-join {
  height: 70px;
}

// Join
.Join {
  display: flex;
  flex-direction: column;
  background-color: #000;
  height: 100%;

  .join-form {
    height: 50%;
    width: 100%;

    input {
      height: 2rem;
      width: 80%;
    }
    button {
      width: 20%;
    }
  }
}

// InfoBar
.InfoBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  z-index: 2;

  .info-inner-container img {
    width: 16px;
    margin: 0 0.4rem;
    cursor: pointer;
  }
  .info-inner-container p {
    margin-right: 1rem;
  }
}

// Messages
.Messages {
  display: flex;
  flex-direction: column-reverse; 
}

// Needed to display messages upside-down
.Messages div:first-child { height: auto; }

// Input 
.Input {
  background: #000;
}

// Chat Form
.chat-form {
  align-self: flex-end;
  input,
  button {
    height: 2rem;
    padding: 0 0.5rem;
  }

  input {
    width: 80%;
  }
  button {
    width: 20%;
  }
}

// Message
.justify-right {
  text-align: right;
  margin-right: 0.5rem;
  p {
    text-align: left;
  }
}
.justify-left {
  text-align: left;
}

.message-box {
  display: inline-block;
  max-width: 265px;
  padding: 0.1rem 0.4rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}
.bg-white {
  background: #fff;
  border-radius: 8px 8px 0 8px;
  p { color: #000 }
}
.bg-black {
  background: #000;
  border-radius: 8px 8px 8px 0;
  p { color: #fff }
}
.sent-text {
  margin: 0 0.4rem;
}
  
// Animation
@keyframes display-off {
  0% { opacity: 1; }
  100% { 
    opacity: 0; 
    z-index: -1; }
}
@keyframes display-on {
  0% { opacity: 0; }
  50% {opacity: 0;}
  100% { opacity: 1; }
}
