.ChatApp * {
  color: black;
  margin: 0;
  padding: 0;
}

.ChatApp {
  transition: height 450ms ease;

  h3 {
    padding: 0.5rem;
  }
}

.InfoBar {
  display: flex;
  justify-content: space-between;
}
.chat-app-chat {
  height: 88vh;
}
.chat-app-join {
  height: 70px;
}
